.admin-container
	@include main-card()
	padding: 20px
	max-width: $max-width
	margin: 40px auto

	h1
		margin-bottom: 10px

	.action-wrapper
		margin-top: 30px

		.md-button.md-primary.md-raised
			background-color: $main-blue

		.md-button.md-warn.md-raised
			background-color: $main-red-light

@media (max-width: $max-width)

	.admin-container
		margin: 20px

@media (max-width: 600px)
	
	.admin-container
		text-align: center