.create-ballot
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12)
  margin: 25px 0

.create-left
  background: $main-blue
  padding: 15px 25px
  color: $main-off-white

.create-left md-input-container
  margin: 18px 0 0

.create-left md-input-container .md-input,
.create-left md-input-container:not(.md-input-invalid).md-input-focused .md-input
  color: $main-off-white
  border-color: rgba(255, 255, 255, .8)

.create-left md-input-container label,
.create-left md-input-container:not(.md-input-invalid).md-input-focused label,
.create-left md-input-container:not(.md-input-invalid).md-input-has-value label
  color: rgba(255, 255, 255, .8)

.create-right
  padding: 15px 25px
