<!-- <a ui-sref='home1'>Back to Home</a> -->

<div class="create-ballot" layout="row">
  <div flex="33" class="create-left">
    <h4>{{ ballot.name }}</h4>
    <p>{{ ballot.description }}</p>

    <div ng-if="readOnly">
      Options:
      <div ng-repeat="option in options">
        <span>{{ option.name }}: {{ option.vote_count }}</span>
      </div>
    </div>
  </div>

  <div flex class="create-right">
    <div ng-if="!readOnly">
      <div layout="row" class="table-head">
        <div flex="25">Ranking</div>
        <div flex flex-offset="5">Options</div>
      </div>
      <div ng-repeat="option in options">
        <md-input-container layout="row">
          <select
            ng-init="selected[$index].rank = availableRanks[0]"
            ng-model="selected[$index].rank"
            ng-options="rank as rank for rank in availableRanks"
            flex="25">
          </select>
          <div flex flex-offset="5">{{ option.name }}</div>
        </md-input-container>
      </div>

      <div class="pull-right">
        <md-button ng-click="getResults()">Get results</md-button>
        <md-button ng-click="validateAnswer()"
                class="md-raised md-primary">Answer</md-button>
      </div>
      <div ng-show="!form.valid && form.submitted" class="error">
        {{ form.message }}
      </div>
    </div>
  </div>
</div>


<div ng-if="resultsByRound.length">
	<div>Total ballots cast: {{ totalBallotsCast }}</div>
	<div>Results after {{ resultsByRound.length }} round{{ resultsByRound.length > 1 ? 's' : '' }} of voting:</div>
	<div ng-repeat="resultRound in resultsByRound">
		<div>Round #{{$index + 1}}</div>
		<div ng-repeat="result in resultRound">
			<span>{{ result.name }}: {{ result.percent_vote === 0 ? 0 : (result.percent_vote * 100 | number : 1) }}%</span>
			<span ng-show="result.isWinner"><< Winner</span>
			<span ng-show="result.isEliminated"><< Eliminated</span>
		</div>
		<div>---------------</div>
	</div>
</div>
