<a ui-sref='home1'>Back to Home</a>

<div>Name: {{ ballot.name }}</div>
<div>Description: {{ ballot.description }}</div>

<div ng-if="readOnly">
	Options:
	<div ng-repeat="option in options">
		<span>{{ option.name }}: {{ option.vote_count }}</span>
	</div>
</div>

<div ng-if="!readOnly">
	<div>Rank your options!</div>
	<div ng-repeat="option in options">
		<div>
			<select
				ng-init="selected[$index].rank = availableRanks[0]"
				ng-model="selected[$index].rank"
				ng-options="rank as rank for rank in availableRanks">
			</select>
			<span>{{ option.name }}</span>
		</div>
	</div>

	<button ng-click="validateAnswer()">Answer</button>
	<div ng-show="!form.valid && form.submitted">
		{{ form.message }}
	</div>
</div>

<button ng-click="getResults()">Get results</button>

<div ng-if="resultsByRound.length">
	<div>Total ballots cast: {{ totalBallotsCast }}</div>
	<div>Results after {{ resultsByRound.length }} round{{ resultsByRound.length > 1 ? 's' : '' }} of voting:</div>
	<div ng-repeat="resultRound in resultsByRound">
		<div>Round #{{$index + 1}}</div>
		<div ng-repeat="result in resultRound">
			<span>{{ result.name }}: {{ result.percent_vote === 0 ? 0 : (result.percent_vote * 100 | number : 1) }}%</span>
			<span ng-show="result.isWinner"><< Winner</span>
			<span ng-show="result.isEliminated"><< Eliminated</span>
		</div>
		<div>---------------</div>
	</div>
</div>
