{
    "ecmaFeatures": {
        "modules": true,
    }, 
    "env": {
        "es6": true,
        "browser": true
    },
    "globals": {
        "_": true,
        "$": true,
        "angular": true,
        "config": true,
        "endpoints": true,
        "server": true,
        "sprintf": true,
    },
    "parser": "babel-eslint",
    "plugins": [
        "babel"
    ],
    "rules": {
        "comma-dangle": [1, "never"],
        "curly": 1,
        "eqeqeq": 1,
        "no-bitwise": 1,
        "no-caller": 1,
        "no-undef": 1, 
        "quotes": [1, "single"],
        "semi": [1, "always"]
    }
}
