<a ui-sref='home1'>Back to Home</a>

<div>Name: {{ ballot.name }}</div>
<div>Description: {{ ballot.description }}</div>

<div ng-if="readOnly">
	Options:
	<div ng-repeat="option in options">
		<span>{{ option.name }}: {{ option.vote_count }}</span>
	</div>
</div>

<div ng-if="!readOnly">
	<div>Rank your options!</div>
	<div ng-repeat="option in options">
		<div>
			<select
				ng-model="selected[$index].rank"
				ng-options="rank as rank for rank in availableRanks">
			</select>
			<span>{{ option.name }}</span>
		</div>
	</div>

	<button ng-click="validateAnswer()">Answer</button>
	<div ng-show="!form.valid && form.submitted">
		{{ form.message }}
	</div>
</div>

<button ng-click="getResults()">Get results</button>

<div ng-if="results_by_round.length">
	Results after {{ results_by_round.length }} round{{ results_by_round.length > 1 ? 's' : '' }} of voting:
	<div ng-repeat="result_round in results_by_round">
		<div>Round #{{$index + 1}}</div>
		<div ng-repeat="result in result_round">
			<span>{{ result.name }} - {{ result.percent_vote * 100 | number : 2 }}%</span>
			<span ng-show="result.isWinner">-- Winner</span>
		</div>
		<div>---------------</div>
	</div>
</div>
