<div class="center ballot-create-container">

  <div class="ballot-create">
    <accordion close-others="true">
      <accordion-group is-open="true">
        <accordion-heading class="accordion-header">
          <span class="rounded-number">1</span>
          <span>Ballot Info</span>
        </accordion-heading>
        <!-- Name -->
        <md-input-container>
          <label>Name</label>
          <input type="text" placeholder="(required)" ng-model="ballot.name" ng-required="true">
        </md-input-container>
        <!-- Description -->
        <md-input-container>
          <label>Description</label>
          <textarea placeholder="(optional)" ng-model="ballot.description"></textarea>
        </md-input-container>
      </accordion-group>
      <accordion-group>
        <accordion-heading class="accordion-header">
          <span class="rounded-number">2</span>
          <span>Ballot Choices</span>
        </accordion-heading>
        <!-- Ballot options -->
        <md-chips
          ng-model="ballot.options"
          placeholder="Type choices here"
          md-separator-keys="[188, 186, 13, 9]">
        </md-chips>
      </accordion-group>
      <accordion-group>
        <accordion-heading class="accordion-header">
          <span class="rounded-number">3</span>
          <span>End Time <span class="lighten">(Optional)</span></span>
        </accordion-heading>
        <datetimepicker
          class="center"
          data-ng-model="ballot.endTimestamp"
          data-datetimepicker-config="datetimeOptions"
          data-before-render="validateDatetime($view, $dates)">
        </datetimepicker>
      </accordion-group>
      <accordion-group>
        <accordion-heading class="accordion-header">
          <span class="rounded-number">4</span>
          <span>Email</span>
        </accordion-heading>
        <!-- Email -->
        <md-input-container>
          <label>Email
            <md-tooltip md-direction="top">
              Will only be used to send you a link to your ballot for your records/to share
            </md-tooltip>
          </label>
          <input type="email" ng-model="ballot.email">
        </md-input-container>
      </accordion-group>
    </accordion>
  </div>

  <div>
    <md-button class="center md-raised md-warn" ng-click="createBallot(ballot)" ng-disabled="submitted">Create Ballot</md-button>
  </div>

  <!-- Form error message -->
  <div class="error-msg" ng-show="error.show">
    <span class="fa fa-exclamation-circle"></span>
    {{ error.msg }}
  </div>
</div>

