<div class="create-ballot">
  <div class="row">
  	<div class="col-xs-4 height-full create-left">
  		<!-- Name -->
  		<div>
        <label class="white-label">Name</label>
  			<input type="text" ng-model="ballot.name" placeholder="Ballot name">
  		</div>

  		<!-- Description -->
  		<div>
        <label class="white-label">Description</label>
  			<input type="text" ng-model="ballot.description" placeholder="Ballot description">
  		</div>
    </div>

    <div class="col-xs-8">
  		<!-- Ballot options -->
  		<div>
  			<div>Ballot Choices</div>
  			<tags-input
  				ng-model="ballot.options"
  				min-length="1"
  				min-tags="2"
  				replace-spaces-with-dashes="false">
  			</tags-input>
  		</div>
      <!-- Submit button -->
      <button ng-click="createBallot(ballot)">Create Ballot</button>
  	</div>
  </div>

	<!-- Form error message -->
	<div ng-show="error.show">{{ error.msg }}</div>
</div>
