Hey there!

<br><br>

Here are two links to the ballot you just created on VoteBoat. The first link is to your ballot itself -- share this with friends! The second link is for your ballot's control panel. Don't share this link.

<br><br>

<a href="https://secure-fjord-83932.herokuapp.com/#/ballot/{{ ballot.uuid }}" target="_blank">Public ballot</a>

<br><br>

<a href="https://secure-fjord-83932.herokuapp.com/#/ballot/{{ ballot.uuid }}/{{ ballot.admin_id }}" target="_blank">Control panel</a>

<br><br>

Enjoy and let us know if you have any questions or feedback!

<br><br>

Best,

<br>

The <a href="https://secure-fjord-83932.herokuapp.com/" target="_blank">VoteBoat</a> Team