<a ui-sref='vote.main({uuid: ballot.uuid})'>Back to Ballot</a>

<div class="create-ballot">
	<h1 style="color: black;" ng-show="admin.checked && admin.verified">Welcome to the admin page</h1>
	<h1 style="color: black;" ng-show="admin.checked && !admin.verified">Wrong URL (redirect to ballot page)</h1>
</div>

<div>
	<h3>Ballot actions:</h3>
	<div>
		<md-button class="md-raised md-primary" ng-click="toggleActivation($event, ballot.status)">
      <span ng-class="ballot.status === 'ACTIVE' ? 'fa-pause-circle' : 'fa-play-circle'" class="fa"></span>
      {{ ballot.status === 'ACTIVE' ? 'Disable' : 'Activate' }}
    </md-button>
		<md-button class="md-raised md-warn" ng-click="showConfirmDelete($event)">
      <span class="fa fa-times"></span>
      Delete
    </md-button>
	</div>
</div>