<div>
	<div ng-click="$dismiss()">&times;</div>
	<div>
		<div>Make a Ballot</div>
		<div>Name
			<input type="text" ng-model="ballot.name" placeholder="Ballot name">
		</div>
		<div>Description
			<input type="text" ng-model="ballot.description" placeholder="Ballot description">
		</div>
		<div>Ballot Choices
			<input type="text" ng-model="options.currentOption" placeholder="Choice title">
			<button ng-click="addBallotChoice(options.currentOption)">Add</button>
			<p ng-repeat="choice in ballot.choices">{{ choice.name }}</p>
		</div>
	</div>
	<button ng-click="createBallot()">Make Ballot Button</button>
</div>