h1
  margin: 0
  color: $main-off-white
  font-size: $font-md-2
  line-height: 50px

h3
  font-size: $font-lg
  color: $main-red-light
  font-weight: 500
  margin-bottom: 15px

h4
  font-size: $font-md-1
  color: $main-off-white

p
  font-size: $font-sm

a
	color: $main-blue