.header-bar
	position: relative
	z-index: 1
	background: $main-blue-light
	box-shadow: 0 2px 2px rgba(0,0,0,0.2)
	min-height: 50px

	a
		text-decoration: none

	.header-text
		@extend %header-font
		font-size: $font-xlg
		margin-left: 40px

		.header-icon
			color: rgba(0,0,0,0.25)